.basket_root {
  position: relative;
  max-height: calc(900px - 48px - 16px);
  padding: 16px;
  flex-grow: 1;
  height: auto;
  min-height: 650px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 32px;
}

.basketHeader_root {
  padding-right: 0;
  padding-left: 0;
  padding: 0 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.basketHeader_root span {
  color: rgb(166, 166, 166);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.38px;
  font-family: Inter, sans-serif;
}

.basketHeader_address {
  cursor: pointer;
}

.basketHeader_address span {
  color: rgb(64, 64, 64);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.38px;
  font-family: Inter, sans-serif;
}

.basketGreeting_root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
  white-space: pre-wrap;
  user-select: none;
}

.basketGreeting_root .icon {
  position: relative;
  height: 134px;
}

.basketGreeting_root span {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.38px;
  font-family: Inter, sans-serif;
  color: rgb(166, 166, 166);
}

.basketButton_root {
  opacity: 0.6;
}

.basketButton {
  max-width: none;
  white-space: pre-line;
  pointer-events: auto;
  color: #fff;
  background: #00b207;
  height: 56px;
  padding: 0 24px;
  border-radius: 56px;
  cursor: default;
  position: relative;
  width: 100%;
  overflow: hidden;
  border: none;
}

.basketButton .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basketButton .content .center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.basketButton .content .center span {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: -0.05px;
  color: inherit;
  font-family: Inter, sans-serif;
}

.basketItems_root {
  padding-bottom: 170px;
  padding-right: 0;
  padding-left: 0;
  padding: 0 12px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.basketSpacer {
  flex-grow: 1;
}

.basketFooter {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 86px 16px 16px;
  pointer-events: none;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 7.81%, #fff 33.85%);
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  margin-top: 16px;
}

.OrderPrice_root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  margin-bottom: 16px;
  pointer-events: auto;
}

.OrderPrice_title {
  margin-bottom: 4px;
  color: #a6a6a6;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.02px;
  font-family: Inter, sans-serif;
}

.OrderPrice_price {
  font-family: Inter, sans-serif;
  color: #404040;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}
