.contentContainer {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 24px 24px 24px;
  animation: fadeIn 0.9s ease-in-out;
}

.main {
  width: 100%;
  max-width: 1144px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
