.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 324px;
  padding: 10px 60px;
  margin: 0 auto;

  background-color: #fff;
  border-radius: 0px 0px 30px 30px;
}

.logo h1 {
  font-family: 'Poppins';
  font-size: 56px;
  font-weight: 400;
  line-height: 67.857%;
  letter-spacing: -1.68px;

  color: #002603;
}
