.regButton {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px 123px;

  background-color: #fff;
  border-radius: 100px;
}

.text {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;

  color: #000;
}
